:root {
    --primary: #0f68c2;
}

/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 233, 238);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.ul-fix {
    margin-left: 1em;
}

.main {
    margin: 10px 10px;
}

.content-box {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-color: white;
}

.button {
    display: block;
    color: white;
    padding: 7px;
    border-radius: 4px;
    background-color: var(--primary);
    border-style: none;
}

.title-2 {
    font-weight: normal;
    font-size: 1.2em;
    color: var(--primary);
}

/* -------------- */

/* APP BAR */

.appbar {
    background-color:rgb(64, 75, 94);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 7px 10px;
    position: sticky;
    top: 0;
}
  
.appbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.appbar-collapse {
    padding: 8px 12px;
    border-radius: 2px;
    border-width: 0.5px;
    border-style: none;
    background-color: rgb(255, 255, 255)
}
  
.appbar-nav {
    display: none;
    flex-direction: column;
}
  
.appbar-nav.active {
    display: flex;
}
  
.appbar-nav a {
    display: block;
    color: white;
    padding: 7px;
    margin: 0 5px;
    border-radius: 4px;
}
  
.appbar-nav a:hover {
    background-color: var(--primary);
}
  
.appbar-nav a.active {
    background-color: var(--primary);
}

/* --------------- */

/* CATALOG */

.catalog-image {
  padding: 10px;
  width: 60%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.catalog-price {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    color: #f00;
}

.catalog-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

.grid-content {
    font-size: 0.8em;
}

.grid-footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------------- */

/* CART HEADER */
.cart-header {
    padding: 10px 0;
    text-align: center;
    margin: 0px 0px 10px 0px;
    border-bottom: solid;
    border-color: gray;
    border-width: 0.5px;
}
  
.cart-nav-item {
    display: inline-block;
    color: black;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
}  
  
.cart-nav-item:hover {
    text-decoration: underline;
}

.cart-nav-item.active {
    font-weight: bold;
    text-decoration: none;
}
/* --------------- */

/* CART */

.cart-image {
    padding: 10px;
    width: 100px;
    display: block;
}

.cart-item {
    display: flex;
    align-items: flex-end;
}

.cart-item-desc {
    font-size: 1em;
    margin-left: auto;
}

.cart-customer-form input {
    display: block;
    margin: 0px auto;
}

.cart-customer-form input:not([type="submit"]) {
    border-radius: 3px;
    border-width: 1px;
    text-indent: 3px;
    margin: 0px auto 5px auto;
    width: 300px;
    height: 25px;
}

.cart-form-area {
    margin-bottom: 10px;
}

.cart-payment-form fieldset {
    border-style: none;
}

/* --------------- */


/* DETAIL */
.detail-image {
    padding: 10px;
    width: 200px;
    display: block;
}

.specification-table {
    border-collapse: collapse;
    display: block;
    margin-top: 10px;
}

.specification-table td {
    border: 1px solid #ddd;
    padding: 7px;
}

.specification-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detail-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* --------------- */

@media screen and (min-width: 600px) {
    .main {
        width: 60%;
        margin: 10px auto;
    }

    .catalog-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

      .appbar {
        flex-direction: row;
      }
      
      .appbar-collapse {
        display: none;
      }
    
      .appbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .detail-body {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
  }
