@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --primary: #0f68c2;
    --gray: gray;    
}

/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

/* ------------------- COMMON -------------------- */

body {
    font-family: 'Muli', sans-serif;
    background-color: rgb(226, 233, 238);    
}

main {
    margin: 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.list--dots-fixed {
    margin-left: 1.5em;
}

.list--dots-hidden {
    margin-left: 0.3em;
    list-style-type: none;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.box {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;    
    border-color: var(--gray);
    background-color: white;
    padding: 15px;
}

.button {
    display: block;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
    border-style: none;
    width: fit-content;
    height: fit-content;
}

.button--primary {
    background-color: var(--primary);
    color: white;
}

.button--basic {
    background-color: lightgrey;
    color: rgb(75, 75, 75)
}

.button--icon {
    font-size: 1em;
    padding: 7px 25px;
}

.title-2 {
    font-weight: normal;
    font-size: 1.3em;
    color: var(--primary);
}

.title-3 {
    font-weight: normal;
    font-size: 1.2em;
    color: var(--primary);
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(253, 66, 66);
}

.radio {
    transform: scale(1.2);
    display: inline-block;
    margin-right: 5px;
}

/* ------------------- APPBAR -------------------- */

.appbar {
    background-color:rgb(64, 75, 94);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 7px 10px;
    position: sticky;
    top: 0;
}
  
.appbar__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.appbar__nav {
    display: none;
    flex-direction: column;
}

.appbar__nav--show {
    display: flex;
    align-items: center;
}

.appbar__item {
    display: block;
    color: white;
    padding: 7px;
    margin: 0 5px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.appbar__item:hover {
    background-color: var(--primary);
}
  
.appbar__item--active {
    background-color: var(--primary);
} 

/* -------------------- CATALOG ------------------- */

.catalog {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}

.catalog__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.catalog__desc {
    font-size: 0.8em;
}

.catalog__footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog__image {
  padding: 10px;
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------- CART - COMMON ---------------- */

.cart__header {
    padding: 10px 0;
    text-align: center;
    margin: 0px 0px 10px 0px;
    border-bottom: solid;
    border-color: var(--gray);
    border-width: 0.5px;
}
  
.cart__nav-item {
    display: inline-block;
    color: black;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
}  
  
.cart__nav-item:hover {
    text-decoration: underline;
}

.cart__nav-item--active {
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
}

.cart__nav-item--active:hover {
    text-decoration: none;
}

.cart__footer {
    border-top-color: var(--gray);
    border-top-style: solid;
    border-top-width: 1px;

    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
} 

/* ------------------- CART (1) ------------------- */

.cart__image {
    padding: 10px;
    width: 100px;
    display: block;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.cart__item--devider {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray);
}

.cart__desc {
    display: flex;
    flex-direction: column;
    
}

.cart__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    min-height: 70px;
}

/* ------------------- CART (2) ------------------- */

.cart__form {
    max-width: 450px;
    margin: 0 auto;
}

.cart__cust-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
}

/* ------------------- CART (3) ------------------- */

.cart__form-sect {
    margin-bottom: 10px;
}

.cart__form-opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 3px 0;
}

.cart__ship-price {
    font-style: italic;
    color: rgb(41, 41, 41);
}

/* -------------------- DETAIL -------------------- */

.detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.detail__section--top {
    margin-bottom: 15px;
}

.detail__section--bot {
    width: 100%;
}

.detail__price-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail__image {
    padding: 10px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.detail__specification {
    border-collapse: collapse;   
    width: 100%; 
}

.detail__specification td {
    border: 1px solid #ddd;
    padding: 7px;
}

.detail__specification tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* --------------- MEDIA QUERIES ------------------ */

@media screen and (min-width: 600px) {

    /* ---------------- APPBAR -------------- */

    .appbar {
        flex-direction: row;
    }
      
    .appbar__main .button {
        display: none;
    }
    
    .appbar__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* ---------------- DETAIL -------------- */

    .detail {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }

    .detail__section--top {
        max-width: 400px;
        margin-right: 15px;
    } 
    
    .detail__section--bot {
        min-width: 300px;
    }

    /* ----------------- CART --------------- */

    .cart__desc {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .cart__price {
        display: flex;
        flex-direction: row;
        min-width: 180px;
    }

    .cart__image {
        margin-right: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {

    /* ---------------- CATALOG ------------- */

    .catalog {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {

    /* ---------------- CATALOG ------------- */

    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

