/* CSS reset */
* {margin: 0; padding: 0;} 

/* Dominik */ 
p {
    text-align: left;
    font-size: 0.8em;
}

.grid-container {
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
    background-color: rgba(128, 125, 125, 0.2);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    padding: 0.6em;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
  }

  .grid-image {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5%;
  }
  .grid-title{
    text-align: center;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.7em;
    
  }
  .grid-content{
    font-family:  sans-serif;
    font-size: 0.5em;
    height: 150px;
  }
  .button1 { 
    color: rgb(226, 217, 217);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 10px;
    background: rgb(22, 24, 146);
    transition: 0.2s;
  } 

  .grid-footer{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1em;
    color: #f00;
    text-align: center;
    margin-top: 1em;
    display: inline-flex;
    grid-column-gap: 0.8em;
  }
  


.button1:hover { background: rgb(47, 50, 206); }

  /* -------------- Adam -------------- */

  .appBar {
    background-color: #2196F3;
  }

  .appBar * {
    display: inline-block;
  }

  .brand {
    font-size: 1.2em;
    margin: 0px 10px;
  }

  .brand a {
    text-decoration: none;
    color: black;
  }

  .navItem a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }

  .right-bar{
   padding: 10.5px 16px;
    float: inline-end;    
  }

  .navItem a {
    text-decoration: none;
    text-align: center;
    padding: 10px 16px;
    margin: 5px 0px;
    color: black;
  }

  
.content-container{
  margin: 10px auto;
width: 70%;
background-color: antiquewhite;
}

#submit{
  color: rgb(226, 217, 217);
    text-decoration: none;
    padding: 0.3em;
    border-radius: 10px;
    background: rgb(22, 24, 146);
    transition: 0.2s;

}