body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: left;
    font-size: 75%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-image {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5%;
  }
  .grid-title{
    font-family: Impact, Charcoal, sans-serif;
    
  }
  .grid-content{
    font-family:  sans-serif;
  }

  .grid-footer{
    font-family: Impact, Charcoal, sans-serif;
    color: #f00;
    display: grid;

  }
  

a.button1 {
  font-weight: 10%;
  color: rgb(226, 217, 217);
  text-decoration: none;
  padding: 5%;
  border-radius: 10px;
  background: rgb(22, 24, 146);
  transition: 0.2s;
} 
a.button1:hover { background: rgb(47, 50, 206); }
